/**
 * Utility Classes
 */

// Mobile/Desktop Visibility
.mobile-only {
  @media #{$medium-screen}{
    display: none;
  }
}

.desktop-only {
  display: none;
  @media #{$medium-screen}{
    display: initial;
  }
}
