/*
 * Mixins
 */

// Clearfix
@mixin cf {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Animation
@mixin animation(
  $name,
  $duration: $duration,
  $timing-function: $timing-function,
  $delay: $delay,
  $iteration-count: $iteration-count,
  $direction: $direction,
  $fill-mode: $fill-mode,
  $play-state: $play-state
){
  animation-name: $name;
  animation-duration: $duration;
  animation-timing-function: $timing-function;
  animation-delay: $delay;
  animation-iteration-count: $iteration-count;
  animation-direction: $direction;
  animation-fill-mode: $fill-mode;
  animation-play-state: $play-state;
}

@mixin input-background {
  background-color: #FFFFFF;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.05);
  border-radius: 2px;
}

@mixin material-button {
  &:before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: lighten($platinum-50, 50%);
    z-index: -2;
  }

  &:hover {
    &:before {
      transition:0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
  }

  &:focus {
    &:before {
      transition:0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
    }
  }
}
