/*
 * Variables
 */

// Typography
$base-font: 16px;
$line-height: 1.5;
$sans-serif: 'Ubuntu', sans-serif;
$timer-font: 'Domine', sans-serif;

// Colors
$white: rgba(255, 255, 255, 1.00);
$black-squeeze: rgba(245, 248, 250, 1.00);
$dark-orchid: rgba(141, 60, 183, 1.00);
$platinum: rgba(115, 115, 116, 1.00);
$platinum-50: rgba(115, 115, 116, 0.5);

// Sizes
$padding: em-calc(20px);
$padding-sm: em-calc(7px);

// General screen sizes
$medium: 640px;
$large: 1024px;
$xlarge: 1440px;
$min-dpr: 1.25;
$min-dpi: 200;

// Media Queries
$small-screen:  'only screen';
$medium-screen: '#{ $small-screen } and (min-width: #{ $medium })';
$large-screen:  '#{ $small-screen } and (min-width: #{ $large })';
$xlarge-screen: '#{ $small-screen } and (min-width: #{ $xlarge })';
$retina: (
  '#{ $small-screen } and (-webkit-min-device-pixel-ratio: #{ $min-dpr })',
  '#{ $small-screen } and (min--moz-device-pixel-ratio: #{ $min-dpr })',
  '#{ $small-screen } and (-o-min-device-pixel-ratio: #{ $min-dpr }/1)',
  '#{ $small-screen } and (min-device-pixel-ratio: #{ $min-dpr })',
  '#{ $small-screen } and (min-resolution: #{ $min-dpi }dpi)',
  '#{ $small-screen } and (min-resolution: #{ $min-dpr }dppx)'
);

// Easing functions
$ease: (
  in-out-quad:  cubic-bezier(0.455,  0.030, 0.515, 0.955),
  in-out-cubic: cubic-bezier(0.645,  0.045, 0.355, 1.000),
  in-out-quart: cubic-bezier(0.770,  0.000, 0.175, 1.000),
  in-out-quint: cubic-bezier(0.860,  0.000, 0.070, 1.000),
  in-out-circ:  cubic-bezier(0.785,  0.135, 0.150, 0.860),
  swift-out:    cubic-bezier(0.550,  0.000, 0.100, 1.000),
  material:     cubic-bezier(0.400,  0.000, 0.200, 1.000),
  in-back:      cubic-bezier(0.600, -0.280, 0.740, 0.050)
);


// Animation properties
$duration:        0.25s;
$timing-function: ease('material');
$delay:           0s;
$iteration-count: infinite;
$direction:       normal;
$fill-mode:       both;
$play-state:      running;
