<div class="custom-timers">
  <h3>Customize Timers</h3>

  <form #customTimersForm="ngForm" class="custom-timers-form">
    <ul class="timers-list">
      <!-- Pomodoro Timer -->
      <li class="pomodoro-timer">
        <label for="pomodoro-input">Pomodoro</label>
        <input type="text" placeholder="25" name="pomodoroInput"
               [(ngModel)]="settingsService.currentSettings.pomodoroTimer"
               (ngModelChange)="refreshTimer($event)" /> min
      </li>

      <!-- Short Break Timer -->
      <li class="short-break-timer">
        <label for="short-break-input">Short Break</label>
        <input type="text" placeholder="05" name="shortBreakInput"
               [(ngModel)]="settingsService.currentSettings.shortBreakTimer"
               (ngModelChange)="refreshTimer($event)" /> min
      </li>

      <!-- Long Break Timer -->
      <li class="long-break-timer">
        <label for="long-break-input">Long Break</label>
        <input type="text" placeholder="15" name="longBreakInput"
               [(ngModel)]="settingsService.currentSettings.longBreakTimer"
               (ngModelChange)="refreshTimer($event)" /> min
      </li>
    </ul>

    <!-- Auto-switch checkbox -->
    <input type="checkbox" name="auto-switch-timers"
           [(ngModel)]="settingsService.currentSettings.autoswitch" />
    <label for="auto-switch-timers">Auto-switch timers at end of each interval</label>

    <div class="sidebar-action">
      <button type="button" (click)="resetSettings()">Reset</button>
    </div>
  </form>
</div>

<div class="custom-alarms">
  <h3>Customize Alarms</h3>

  <form #customAlarmsForm="ngForm" class="custom-alarms-form">
    <select name="customAlarmsMenu" class="custom-alarms-menu"
            [(ngModel)]="settingsService.currentSettings.alarm">
      <option value="Ding">Ding</option>
    </select>

    <div class="sidebar-action">
      <a class="preview-alarm">Preview</a>
    </div>
  </form>
</div>
