/**
 * Animations
 */

// Application Loader
@for $i from 1 through 6 {
	@keyframes preload-show-#{$i}{
		from{
			transform: rotateZ(60* $i + deg) rotateY(-90deg) rotateX(0deg);
			border-left-color: $platinum-50;
		}
	}
	@keyframes preload-hide-#{$i}{
		to{
			transform: rotateZ(60* $i + deg) rotateY(-90deg) rotateX(0deg);
			border-left-color: $platinum-50;
		}
	}

	@keyframes preload-cycle-#{$i}{

		$startIndex: $i*5;
		$reverseIndex: (80 - $i*5);

		#{$startIndex * 1%}{
			transform: rotateZ(60* $i + deg) rotateY(90deg) rotateX(0deg);
			border-left-color: $platinum-50;
		}
		#{$startIndex + 5%},
		#{$reverseIndex * 1%}{
			transform: rotateZ(60* $i + deg) rotateY(0) rotateX(0deg);
			border-left-color: $white;
		}

		#{$reverseIndex + 5%},
		100%{
			transform: rotateZ(60* $i + deg) rotateY(90deg) rotateX(0deg);
			border-left-color: $platinum-50;
		}
	}
}

@keyframes preload-flip{
	0%{
		transform: rotateY(0deg) rotateZ(-60deg);
	}
	100%{
		transform: rotateY(360deg) rotateZ(-60deg);
	}
}


// General Animations
@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
