/**
 * Common / Global Styles
 */

html,
body {
  width: 100%;
  height: 100%;
}

app-root {
  transition: all 0.5s ease('material');
  opacity: 0;

  &.active {
    opacity: 1;
  }
}

body {
  position: relative;

  &.light {
    background-image: linear-gradient(135deg, #884EC6 0%, #A059CD 37%, #B363D2 67%, #C96DD8 100%);
  }
}

.container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: em-calc(940px);
  height: em-calc(656px);
  background: #FFFFFF;
  box-shadow: 0 10px 40px 0 rgba(0,0,0,0.20);
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.about-view,
.timer-view {
  @include animation('fade-in', $iteration-count: 1, $duration: 0.5s);
}

.application-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 3.75em;
	height: 4.5em;
  text-align: center;
  opacity: 0;
  transition: all 200ms ease-in-out;

  &.active {
    opacity: 1;
  }

  .preloader-text {
    color: $white;
  }
}
