<div class="history-table">
  <table>
    <thead class="table-header">
      <tr>
        <th class="checkmark"></th>
        <th>Timer</th>
        <th>Started</th>
        <th>Ended</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr *ngFor="let session of historyService.history"
          class="table-row">
        <td [class.check]="session.isPomodoro">{{ session.isPomodoro ? '√' : '' }}</td>
        <td>{{ session.type }}</td>
        <td>{{ session.started }}</td>
        <td>{{ session.ended }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="sidebar-action">
  <button type="button" (click)="historyService.clearAll()">Clear History</button>
<div>
