<div class="history-table">
  <table>
    <thead class="table-header">
      <tr>
        <th class="checkmark"></th>
        <th>Timer</th>
        <th>Started</th>
        <th>Ended</th>
      </tr>
    </thead>
    <tbody class="table-body">
      <tr class="table-row">
        <td class="check">√</td>
        <td>Pomodoro</td>
        <td>10:25am</td>
        <td>10:50am</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="sidebar-action">
  <button type="button">Clear History</button>
<div>
